button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
}

.energies-added-to-basket {
  fill: var(--color-dark);
}

.circle-amount-energies {
  position: absolute;
  bottom: 32px;
  right: 24px;
  color: var(--color-dark);
  background-color: var(--color-light);
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.btn-add-to-basket {
  color: var(--color-second);
  font-size: 16px;
  font-weight: 600;
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 5px 8px;
}

.btn-add-to-basket:hover {
  color: var(--color-dark);
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 2px;
}

.btn-minus-plus {
  color: var(--color-second);
  background-color: var(--color-light);
  padding: 0;
}

.btn-minus-plus:hover,
.btn-added-to-basket {
  color: var(--color-dark);
}

.btn-close {
  align-self: flex-end;
}

.basket > .btn-close {
  display: none;
}

.btn-delete-all {
  align-self: flex-start;
  padding-left: 16px;
}

.btn-delete-one {
  padding-top: 8px;
}

.close-svg {
  fill: var(--color-light);
  height: 16px;
}

.delete-svg {
  fill: var(--color-second);
  height: 18px;
}

.footer-nav-bar-svg {
  fill: var(--color-white);
  height: 24px;
}

.close-svg,
.delete-svg,
.footer-nav-bar-svg {
  box-sizing: content-box;
  padding: 4px;
}

.close-svg:hover,
.delete-svg:hover,
.footer-nav-bar-svg:hover {
  background-color: var(--color-white);
  fill: var(--color-dark);
  border-radius: 6px;
}

.btn-buy-now {
  color: rgba(251, 251, 251, 1);
  font-size: 32px;
  font-weight: 700;
  text-wrap: balance;
  background-color: var(--color-dark);
  border-radius: 60px;
  padding: 16px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .btn-buy-now {
    font-size: 24px;
  } 
}
@media screen and (max-width: 768px){
  .basket > .btn-close {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .circle-amount-energies {
    right: 16px;
  } 
}